body {
    background-color: #ffffff;
}

#headerDiv {
    background-color: #b51608;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-size: .85em;
}

#headerContainer {
    float: right;
    position: relative;
    top: -80%;
    right: 8%;
}


#Logo {

    width: 50%;
    height: 50%;
    display: block;



}

h2 {
    color: #fff;
    margin-left: 1%;
    font-size: 20px;
}

html {
    font-family: sans-serif;
}




